<%= form_for @project do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :overview %><br />
    <%= f.text_area :overview %>
  </p>
  <p>
    <%= f.label :announcement %><br />
    <%= f.text_area :announcement %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p><%= f.submit %></p>
<% end %>
