- content_for :title do
  %h1.page
    projects
    %span 
      = raw("(#{link_to('new', new_project_path)})")
//

%table
  %thead
    %tr
      %th Name
      %th Overview
      %th Announcement
      %th Status
      %th{:colspan => 3}
  %tbody
    - for project in @projects
      %tr
        %td= project.name
        %td= project.overview
        %td= project.announcement
        %td= project.status
        %td= link_to "show", project
        %td= link_to "edit", edit_project_path(project)
        %td= link_to "destroy", project, :confirm => 'Are you sure?', :method => :delete
  