!!! 5
%html
  %head
    %title= title
    = stylesheet_link_tag 'application'
    = csrf_meta_tag

  %body{:class => body_class}
    #body
      = render 'layouts/header'
      #content
        = yield

      = content_for :modal
    = javascript_include_tag 'application'